aiohappyeyeballs==2.4.2
aiohttp==3.10.7
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
attrs==24.2.0
beautifulsoup4==4.12.3
build==1.2.2
CacheControl==0.14.0
cleo==2.1.0
crashtest==0.4.1
distlib==0.3.8
docutils==0.21.2
dulwich==0.21.7
fastjsonschema==2.20.0
filelock==3.16.0
frozenlist==1.4.1
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httpx==0.27.2
installer==0.7.0
jaraco.classes==3.4.0
Jinja2==3.1.4
jiter==0.5.0
jsonpointer==2.1
keyring==24.3.1
lxml==5.3.0
MarkupSafe==2.1.5
more-itertools==10.5.0
msgpack==1.1.0
multidict==6.1.0
multitasking==0.0.11
numpy==2.1.1
openai==1.46.0
pandas==2.2.3
peewee==3.17.6
pexpect==4.9.0
pkginfo==1.11.1
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
psutil==6.0.0
ptyprocess==0.7.0
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
rapidfuzz==3.9.7
requests-toolbelt==1.0.0
setuptools==69.5.1
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
tomlkit==0.13.2
trove-classifiers==2024.9.12
typing_extensions==4.12.2
tzdata==2024.2
virtualenv==20.26.4
webencodings==0.5.1
wheel==0.43.0
xattr==1.1.0
yarl==1.13.1
yfinance==0.2.44
